body {
    margin: 0;
    background-color: #DEEEEA;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

hr {
    background-color: #DEEEEA;
    border-color: #BF1363;
    border-style: dotted;
    border-width: 0 0 10px 0;
    width: 5%; 
    margin: 30px auto 30px auto;
}

p {
    line-height: 2;
}

a {
    color: #39A6A3;
    font-family: 'Inter', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover {
    color: #c4f1f0
}

h1 {
    font-size: 4.6875rem;
    margin: 50px auto 0 auto;
    color: #BF1363;
    font-family: 'Shrikhand', cursive;
    
}
h2 {
    color: #BF1363;
    margin: 0 auto;
    width: 25%;
    font-size: 2rem;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 30px;
}
h3 {
    color: #231E23;
}

.topDiv {
    background-color: #39A6A3;
    color: #DEEEEA;
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.programmer {
    font-size: 30px;
}


.topCloud {
    position: absolute;
    right: 600px;
    top: 50px;
}
.bottomCloud {
    position: absolute;
    left: 600px;
    bottom: 300px;
}


.midDiv {
    
}

.introP {
    width: 50%;
    margin: auto;
    line-height: 2;
}

.descript {
    font-size: 16px;
    font-style: italic;
}
.pro {
    text-decoration: underline;
    font-size: 18px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.computerImg {
    width: 30%;
    float: left;
    margin-right: 30px;
}
.chilliImg {
    width: 25%;
    float: right;
    margin-right: 30%;
    
    
}

.contactMe {
    width: 50%;
    margin: auto;
    padding-bottom: 50px;
}

.btn {
    background: #BF1363;
    background-image: -webkit-linear-gradient(top, #BF1363, #f53b92);
    background-image: -moz-linear-gradient(top, #BF1363, #f53b92);
    background-image: -ms-linear-gradient(top, #BF1363, #f53b92);
    background-image: -o-linear-gradient(top, #BF1363, #f53b92);
    background-image: linear-gradient(to bottom, #BF1363, #f53b92);
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: 'Inter';
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #e65c9c;
    background-image: -webkit-linear-gradient(top, #e65c9c, #e87fb0);
    background-image: -moz-linear-gradient(top, #e65c9c, #e87fb0);
    background-image: -ms-linear-gradient(top, #e65c9c, #e87fb0);
    background-image: -o-linear-gradient(top, #e65c9c, #e87fb0);
    background-image: linear-gradient(to bottom, #e65c9c, #e87fb0);
    text-decoration: none;
  }

  .bottomDiv {
    background-color: #BF1363;
    padding: 50px 0 20px 0;
}

.copyright {
    color: #39A6A3;
    font-size: 0.75rem;
    padding: 20px 0;
}
